
*.iml
.idea
# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
# Compiled class file
*.class
/target/antrun
/target/generated-sources/*
/target/generated-test-sources/*
/target/maven-archiver/*
/target/maven-status/*
/target/surefire-reports/*
/target/classes/*
!/target/ApacheJMeter_ssh-*.jar

hostkey.ser
# Log file
*.log
*.ser
# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/



# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/probleem register windows.txt



